ALCHEMY_REQUEST_UUID=<string that will be used in webhook URL path to authenticate Alchemy>
ALCHEMY_AUTH_TOKEN=<webhook auth token retrieved from Alchemy dashboard>
ALCHEMY_RPC_KEY=<API key from Alchemy to access JSON-RPC provider>
WALLET_PRIVATE_KEY=<private key of crypto wallet to use for closing bets>