# Infrastructure variables
ALCHEMY_REQUEST_UUID=<string that will be used in webhook URL path to authenticate Alchemy>
ALCHEMY_RPC_KEY=<API key from Alchemy to access JSON-RPC provider>
WALLET_PRIVATE_KEY=<private key of crypto wallet to use for closing bets>
LOST_BETS_BACKEND_UUID=<uuid to use when requesting lost bets from backend>
LAMBDA_INSIGHTS_EXTENSION=<version of lambda insights to use for monitoring>

# Scripts variables (optional for deployment)
PRICE_FILL_QUEUE_ARN=<arn where price fill commands will be pushed>
SCHEDULE_PRICE_FILL_ROLE_ARN=<service role for price fill execution>
ALCHEMY_AUTH_TOKEN=<webhook auth token retrieved from Alchemy dashboard>